 
   @import url('https://fonts.googleapis.com/css2?family=Convergence&display=swap'); 
   *{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
  }
   .aj {
        background-image: url(img/back.jpg);
        background-size: cover;
        background-attachment: fixed;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
      }
     
      .loginf{
        width: 602px;
        height: fit-content;
        background-color: #fcfcfc;
        border: 2px solid black;
        border-radius: 21px;
        /*display: flex;
        flex-direction: row;*/
        box-shadow: 9px 8px 0px 0px rgba(0, 0, 0, 0.2);
        margin-top: 105px;
        display: flex;
        flex-direction:column; 
        align-items:center;
        justify-content: center;
    }
      

     .p1{
      text-shadow: 2px 4px 19px #ffe5ad;
      font-family: math;
      color:#3d3322;
      font-size: 36px;
      padding-top: 24px;
      padding-bottom: 24px;
      text-align: center;
  }
    

    .inputGroupp {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }

    .inputGroupp label{
      align-self: flex-start;
      margin-left: 60px;
      font-family: monospace;
      margin-bottom: 8px; 
      font-size: 13px; 
      color: #333; 
      font-weight: 600; 
    }
    


    .inputinscrit{
      width: 484px;
      border: 2px solid #e5e5e5;
      margin-top: 0px;
      height: 30px;
      outline: none;
      border: 2px solid #ccc; /* Bordure subtile */
      border-radius: 8px; /* Bords arrondis */
      box-shadow: none; /* Pas de shadow pour un look plus net */
      transition: border-color 0.3s, box-shadow 0.3s; /* Transition douce pour border et shadow */
      font-size: 16px; /* Taille de texte appropriée */
      color: #333; /* Couleur du texte */
      background-color: #fff; /* Couleur de fond */
    }
    .inputinscrit:focus {
      border-color: #0066cc; /* Couleur de bordure au focus */
      box-shadow: 0 0 8px rgba(0, 102, 204, 0.3); /* Légère ombre portée au focus */
    }
    
    /* Placeholder avec style personnalisé */
    .inputinscrit::placeholder {
      color: #aaa; /* Couleur du placeholder */
    }
    
    .drops{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 484px;
      gap: 0px;
      margin: 50px;
    }
    .Catdrop{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      
    } 

    .Catdrop label{
      margin-left: 10px;
    }
    .Lieudrop {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      
    }
    .Lieudrop label{
      margin-left: 10px;
    }

    .categorietext{
  
      font-size: 13px; 
      color: #333; 
      margin-bottom: 8px; 
      font-weight: 600; 
      padding-left: 7px;
      font-family: monospace;
    }
    
    .lieutext{
      /* margin-right: 20px; */
      font-size: 13px; 
      color: #333; 
      margin-bottom: 8px; 
      font-weight: 600; 
      padding-left: 7px;
      font-family: monospace;

    }
    

    .select {
      /* Reset */
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      
      /* Styling */
      background-color: #f0f0f0; /* Light grey background */
      border: 2px solid #d1d1d1; /* Slightly darker border for contrast */
      border-radius: 8px; /* Rounded corners */
      padding: 10px 20px; /* Spacing inside the select box */
      font-size: 16px; /* Adequate text size */
      color: #333; /* Dark text for readability */
      
      /* Make room for custom arrow */
       
      width: 190px;
      /* Transition for interactions */
      transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

      
    }
    .select:focus {
      border-color: #007bff; /* Highlight color when focused */
      box-shadow: 0 0 0 3px rgba(0,123,255,.25); /* Subtle glow effect */
      outline: none; /* Remove default focus outline */
    }
    
    /* Example of a hover effect - Optional */
    .select:hover {
      border-color: #0056b3; /* Darker shade when hovered */
    }
    

  .inputdesc{
    width: 474px; /* Pleine largeur pour s'adapter au conteneur parent */
    height: 130px; /* Hauteur initiale */
    padding: 10px; /* Espacement interne pour le texte */
    border: 2px solid #ccc; /* Bordure subtile */
    border-radius: 8px; /* Bords arrondis */
    resize: none; /* Permet à l'utilisateur de changer la taille verticalement */
    outline: none; /* Supprime l'outline par défaut au focus */
    box-shadow: none; /* Pas de shadow pour un look plus net */
    transition: border-color 0.3s, box-shadow 0.3s; /* Transition douce pour border et shadow */
    font-size: 16px; /* Taille de texte appropriée */
    color: #333; /* Couleur du texte */
    background-color: #fff; /* Couleur de fond */
  }
  .inputdesc:focus {
    border-color: #0066cc; /* Couleur de bordure au focus */
    box-shadow: 0 0 8px rgba(0, 102, 204, 0.3); /* Légère ombre portée au focus */
  }
  
  /* Placeholder avec style personnalisé */
  .inputdesc::placeholder {
    color: #aaa; /* Couleur du placeholder */
  }
    
  .btn
  {
    font-weight: bold;
    font-size: 16px;
    background-color:#e9d6b4;
    margin: 20px;
    width: 300px;
    height: 34px;
    border: none;
  }
  .btn:hover {
    background-color: #faf6e8;
  }
  .btndiv{
    display: flex;
    justify-content: center;
  }

  .header {
    height: 56px;
    position: absolute;
    z-index: 999;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: fixed;
  }
  
  .link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    
    font-size: 16px;
    transition: color 0.3s;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }
  
  
  .navlist {
    display: flex;
    list-style: none;
    margin-right: 20px;
    padding: 0;
    align-items: flex-end;
  }
  .navitem {
    color: white;
    text-decoration: none;
    width: 120px;
    height: 53.44px;
    font-size: 18px;
    transition: color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navitemsave {
    color: white;
    text-decoration: none;
    width: 80px;
    height: 53.44px;
    font-size: 18px;
    transition: color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navitemsave:hover {
    background-color: #f5f5f5;
  }
  
  .header a:hover {
    color: #817139;
  }
  .logo {
    position: absolute;
    top: 45%;
    left: 16px; 
    transform: translateY(-50%);
    height: 90px;
    width: 192px;
    padding-top: 38px;
  }
  
  .saveb2{
    width: 45px;
    height: 55px;
  
  }
  .icon{
    width: 20px;
    height: 25px;
    padding-left:10px;
    padding-bottom: 10px;
  }
  
  .logout{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  
  .picon{
    color: rgb(0, 0, 0);
    text-decoration: none;
    
    font-size: 15px;
    padding-left: 8px;
    transition: color 0.3s;
  }
  
  
  
  .navitem:hover {
    background-color: #f5f5f5;
  }
  
  .navitem:active {
    background-color: #e5e5e5;
  }
  
  